* {
    margin: 0;
    padding: 0;
    font-family: 'Edu VIC WA NT Beginner', cursive;

}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.allign-center-ver {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: #eaeaea;
    color: #eaeaea;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}



.phot img {
    border-radius: 50%;
    width: 250px;
    aspect-ratio: 1;
    
}

.who {
    display: flex;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem 5rem;
    background: #333;
    border-radius: 15px;
    max-width: 1000px;
}

.social {
    margin-left: 3rem;
    display: flex;
    border-left: 2px solid #eaeaea;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 3rem;
    justify-content: center;
}

.social div {

    margin-left: 2rem;
    padding-right: 2rem;

}

.social img {
    transition: 1s;
    width: 75px;

}

.social div:hover {
    transition: 1s;
    transform: scale(1.5);

}

.video {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
}
@media screen and (min-width:742px){
    .phot img{
        padding: 1rem;
        box-shadow: none;
    } 
}
@media screen and (max-width:742px) {

    .who {
        flex-direction: column;
        padding: 2rem;
        font-size: 0.9rem;
        margin: 4rem 4rem;
    }

    .social {
        flex-direction: row;
        border-left: 0px;
        border-top: 2px solid #eaeaea;
        margin: 0;
    }

    .social{
        gap: 0rem;
    }
    .social div {
        padding-top: 2rem;
        font-size: 0.7rem;
        width: fit-content;
        
    }
    .social img{
        width: 50px;
    }
    
        

    }
    .phot img {
        border-radius: 50%;
        width: 150px;
        aspect-ratio: 1;
        box-shadow: 0 0 100px 3px #eaeaea;
        
        
    }
    .video {
        width: 370px;
        height: auto;
        margin-bottom: 4rem;
    }
}